<p id="notice"><%= notice %></p>

<p>
  <strong>Prayer request:</strong>
  <%= @prayer_request.prayer_request %>
</p>

<%= link_to 'Edit', edit_prayer_request_path(@prayer_request) %> |
<%= link_to 'Back', newsfeeds_path %>
